<div class="search">
  <mat-form-field>
    <mat-label>Вид документа:</mat-label>
    <mat-select [formControl]="doctypeControl">
      <mat-option *ngFor="let type of docTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Номер:</mat-label>
    <input matInput [formControl]="numberControl">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="find()">Найти</button>
  <button mat-raised-button color="warn" (click)="clear()">Очистить</button>
</div>
<div class="actions">
  <button mat-raised-button style="background-color: orange;" (click)="openDialog()">Добавить<mat-icon>add</mat-icon></button>
  <button mat-raised-button color="primary" [disabled]="selectedDocId === null" (click)="openDialog(selectedDocId)">Редактировать<mat-icon>edit</mat-icon></button>
  <button mat-raised-button color="warn" [disabled]="selectedDocId === null" (click)="deleteDoc()">Удалить<mat-icon>delete</mat-icon></button>
  <mat-checkbox [checked]="filters.showArhive" (change)="handleToggleArhive($event)">Показать архивные</mat-checkbox>
</div>