th {
  padding: 0.5em;
}

tr {
  border: 1px solid black;
}

.arhive {
  background-color: aquamarine;
}

.documents {
  margin-bottom: 0.3rem;
}

.document {
  &.active {
    // transform: scale(1.01);
    outline: 3px solid deepskyblue;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.002);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

